<div class="container">
  <app-section-header [title]="title"></app-section-header>
  <div class="section-header-description">
    <p class="description">{{ p1 }}</p>
    <p class="description">{{ p2 }}</p>
  </div>
  <div class="message-us-section section">
    <div class="message-form">
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="form-input-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ fullName }}</mat-label>
            <input
              matInput
              name="fullName"
              placeholder="{{ phFullName }}"
              ngModel
              required
            />
            <mat-error>
              {{ errorFullName }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ emailAddress }}</mat-label>
            <input
              matInput
              name="email"
              placeholder="{{ phEmailAddress }}"
              ngModel
              required
            />
            <mat-error>
              {{ errorEmailAddress }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field-textarea">
            <mat-label>{{ message }}</mat-label>
            <textarea
              class="textarea-field"
              name="message"
              matInput
              placeholder="{{ phMessage }}"
              ngModel
              required
            ></textarea>
            <mat-error>
              {{ errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          class="submit-button"
          type="submit"
          [disabled]="!myform.valid"
          style="padding: 0"
        >
          {{ submit }}
        </button>
      </form>
    </div>
    <div class="message-image">
      <img
        class="contact-us-image"
        src="assets/images/contact-us-image.png"
        alt="contact us image"
      />
    </div>
  </div>
</div>
