.form-field{
    width: 556px;
    height: 56px;
    padding-bottom: 24px;
}

.form-field-textarea{
    width: 556px;
    padding-bottom: 24px;
}

.textarea-field{
    resize: none;
    height: 250px;
}

.submit-button{
    width: 87px;
    height: 40px;

    /* SF/Yellow 30 */

    background: #F3AC1D;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;

    font-weight: bold;
}

.contact-us-image{
    width: 1080px;
    height: 522px;
    max-width: 100%;

    position: absolute;
    right: 0%;
    top: 31%;
}

.container.message-us-section{
    margin-bottom: 56px;
}