<div class="container">
    <div dir="ltr">
        <p>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Enter you Full Name" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Enter your email address" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="form-field-textarea">
              <mat-label>Message</mat-label>
              <textarea class="textarea-field" matInput placeholder="Enter your message to Sunny Friday" required></textarea>
            </mat-form-field>
        </p>
        <button mat-raised-button class="submit-button">Submit</button>
    </div>
</div>
<div dir="rtl">
    
</div>