.message-us-section{
    display: flex;
}

.form-field{
    width: 556px;
    height: 56px;
    padding-bottom: 24px;
}

.form-field-textarea{
    width: 556px;
    padding-bottom: 24px;
}

.textarea-field{
    resize: none;
    height: 250px;
}

.submit-button{
    width: 87px;
    height: 40px;

    background: #F3AC1D;
    border-radius: 100px;

    flex: none;
    order: 3;
    flex-grow: 0;

    font-weight: 600;
}

.submit-button:visited{
    font-weight: 800;
}

.contact-us-image{  
    width: 100%;
    height: 522px;
    max-width: 744px;
    right: 0%;

    position: absolute;
}

.container.message-us-section{
    margin-bottom: 56px;
}

.message-form{
    float: left;
    padding-right: 24px;
}

.description{
    margin: 0;
}

::ng-deep .mat-focused .mat-form-field-required-marker{
    color: #f44336;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: #543287;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #f44336;
}
