.work-with-us-image{  
    width: 100%;
    height: 100%;
    max-width: 1128px;
    max-height: 200px;
}

.section-image{
    width: inherit;
}

.mat-header-cell{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-width: 2px;
    border-color: #808080;
}

td.mat-cell{
    border-color: #808080;
    font-size: 16px;
}

tr.mat-row:hover{
    background-color: #EEEBF3;
}

.job-table-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1128px;
}

::ng-deep .mat-paginator-range-actions{
    margin-left: auto;
}

::ng-deep .mat-option:hover{
    background-color: #EEEBF3;
    color:#000000;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    background-color: #543287;
    color: #ffffff;
}