<div class="container">
  <app-section-header [title]="title"></app-section-header>
  <div class="section-header-description">
    <p class="description">
      {{ description }}
    </p>
  </div>
  <app-cards
    id="our-services-cards"
    [data]="rowOne"
    [cardType]="'services'"
  ></app-cards>
  <app-cards
    id="our-services-cards"
    [data]="rowTwo"
    [cardType]="'services'"
  ></app-cards>
  <app-cards
    id="our-services-cards"
    [data]="rowThree"
    [cardType]="'services'"
    style="padding-bottom: 0"
  ></app-cards>
</div>
<app-pre-footer></app-pre-footer>
