<header class="homepage-header">
    <div class="header-section">
        <h1 class="header-h1">Let's make you shine!</h1>
        <h2 class="header-h2"> 
            We were really tired of long, costly and inefficient processes. 
            Basically, the inside of the meeting room. Convinced that good 
            communication could be made easier and not least more affordable, we made SunnyFriday – a slightly different media 
            agency. 
        </h2>
        <app-contact-us-btn class="contact-us-btn"></app-contact-us-btn>
    </div>
</header>