/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

* { font-family: 'Inter', sans-serif !important; }

.material-icons{
  font-family: 'Material Icons' !important;
}

.container{
  padding: 56px 192px;
}