<div class="mat-app-background container">
    <app-section-header [title]="title"></app-section-header>
    <div class="find-us-section section">
        <div class="office-details">
            <div>
                <mat-icon class="section-icon">place</mat-icon>
                <label class="section-label">Headquarters</label>
                <div class="section-details">
                    <p>Olav Kyrres Gate 22
                    7.estaje, Bergen,
                    Vestland 5014
                    Norway</p>
                </div>
            </div>
            <div>
                <mat-icon class="section-icon">call</mat-icon>
                <label class="section-label">Telephone</label>
                <div class="section-details">
                    <a href="tel: +928 20 136" class="telephone-number">+928 20 136</a>
                </div>
            </div>
        </div>
        <div class="office-location">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="1200" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Olav%20Kyrres%20Gate%2022&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>            
                    <br>
                    <style>.mapouter{position:relative;text-align:right;height:500px;width:1200px;}</style>
                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1200px;}</style>
                </div>
            </div>
        </div>
    </div>
</div>