.about-us-container{
    margin-top: 56px;
}
.sub-desc-vid {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 40px 0 21px;
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 745px;
    text-align: center;
    margin-bottom: 0;
}
.youtube-vid {
    margin: 56px 0;
}